<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740676098377-c7lt5utbb73ac9td9s31lhiar1oqu36q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740676098377-c7lt5utbb73ac9td9s31lhiar1oqu36q</string>
	<key>API_KEY</key>
	<string>AIzaSyAaAHcJSiMwD2zFpS-deO-x8suCxPMT_C8</string>
	<key>GCM_SENDER_ID</key>
	<string>740676098377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bv.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-6156a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-6156a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740676098377:ios:3e87583be5d5f9e57b6298</string>
	<key>DATABASE_URL</key>
	<string>https://chat-6156a.firebaseio.com</string>
</dict>
</plist>